<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="10"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="11"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="12"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="13"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="14"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="15"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="16"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="17"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="18"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="19"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="20"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="21"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="22"></li>

            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <%= link_to image_tag("camp1.jpg"), class:"container-fluid" %>
                </div>
                <div class="carousel-item">
                    <%= link_to image_tag("camp2.jpg"), class:"container-fluid" %>
                </div>
                <div class="carousel-item">
                    <%= link_to image_tag("camp3.jpg"), class:"container-fluid" %>
                </div>
                 <div class="carousel-item">
                    <%= link_to image_tag("camp4.jpg"), class:"container-fluid" %>
                </div>
                <div class="carousel-item">
                    <%= link_to image_tag("camp5.jpg"), class:"container-fluid" %>
                </div>
                <div class="carousel-item">
                    <%= link_to image_tag("camp6.jpg"), class:"container-fluid" %>
                </div>
                 <div class="carousel-item">
                    <%= link_to image_tag("camp7.jpg"), class:"container-fluid" %>
                </div>
                <div class="carousel-item">
                    <%= link_to image_tag("camp8.jpg"), class:"container-fluid" %>
                </div>
                 <div class="carousel-item">
                    <%= link_to image_tag("camp9.jpg"), class:"container-fluid" %>
                </div>
                 <div class="carousel-item">
                    <%= link_to image_tag("olive1.jpg"), class:"container-fluid" %>
                </div>
                <div class="carousel-item">
                    <%= link_to image_tag("olive2.jpg"), class:"container-fluid" %>
                </div>
                <div class="carousel-item">
                    <%= link_to image_tag("camp10.jpg"), class:"container-fluid" %>
                </div>
                <div class="carousel-item">
                    <%= link_to image_tag("camp11.jpg"), class:"container-fluid" %>
                </div>
                <div class="carousel-item">
                    <%= link_to image_tag("camp12.jpg"), class:"container-fluid" %>
                </div>
                <div class="carousel-item">
                    <%= link_to image_tag("olive3.jpg"), class:"container-fluid" %>
                </div>
                <div class="carousel-item">
                    <%= link_to image_tag("harvest1.jpg"), class:"container-fluid" %>
                </div>
                <div class="carousel-item">
                    <%= link_to image_tag("harvest2.jpg"), class:"container-fluid" %>
                </div>
                <div class="carousel-item">
                    <%= link_to image_tag("harverst3.jpg"), class:"container-fluid" %>
                </div>
                <div class="carousel-item">
                    <%= link_to image_tag("harverst4.jpg"), class:"container-fluid" %>
                </div>
                <div class="carousel-item">
                    <%= link_to image_tag("harverst5.jpg"), class:"container-fluid" %>
                </div>
                <div class="carousel-item">
                    <%= link_to image_tag("final2.jpg"), class:"container-fluid" %>
                </div>
                <div class="carousel-item">
                    <%= link_to image_tag("final1.jpg"), class:"container-fluid" %>
                </div>
                <div class="carousel-item">
                    <%= link_to image_tag("Rapolla1.jpg"), class:"container-fluid" %>
                </div>
               
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            </div>
            
        </div>
    </div>
</div>



