
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
          <%# <%= image_tag("OlioRadinoLogo.jpg", height: '40', width: '35') %> 


  <%= link_to "Dora Radino", root_path, method: :get %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
       <%= link_to "Home", root_path, method: :get %>
      </li>
      <li class="nav-item">
        <%= link_to "About", about_path, method: :get%>
      </li>
      <li class="nav-item">
        <%= link_to "Products", products_path, method: :get%>
        </li>
      <li class="nav-item">
       <%= link_to "Contact", contact_path, method: :get%>
      </li>
      <li class="nav-item">
       <%= link_to "Gallery", gallery_path, method: :get%>
      </li>
    </ul>
          <%= link_to image_tag("it.png", height: '20', width: '20'), root_path(locale: 'it') %>
          <%= link_to image_tag("uk.png", height: '20', width: '20'), root_path(locale: 'en-US') %>


  
    </div>

</nav>

