<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%#= link_to "Dora Radino", root_path, method: :get %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    </div>
  </div>
</nav> -->



<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to "Dora Radino", root_path, method: :get %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
      <%= link_to "Home", root_path, method: :get %>
      </li>
      <li class="nav-item">
      <%= link_to "About", about_path, method: :get%>
      </li>
      <li class="nav-item">
      <%= link_to "Products", products_path, method: :get%>
      </li>
      <li class="nav-item">
      <%= link_to "Contact", contact_path, method: :get%>
      </li>
      <li class="nav-item dropdown">
        <%#= link_to 'Back', products_path, :class => "nav-link dropdown-toggle", :id => "navbarDropdownMenuLink" , :data-toggle => "dropdown"  %>
        <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
        <!-- </a> -->
 <!--        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">English</a>
          <a class="dropdown-item" href="#">German </a>
          <a class="dropdown-item" href="#">French</a>
        </div> -->
      </li>
    </ul>
  </div>
</nav>


































<!-- <nav>


      <div class="logo">
        <h1>Dora Radino</h1>
      </div>





      <ul class="nav-links">
        <li>
          <%#= link_to "Home", root_path, method: :get %>
        </li>
        <li>
          <%#= link_to "About", about_path, method: :get%>
        </li>
        <li>
         <%#= link_to "Products", products_path, method: :get%>
        </li>
        <li>
          <%#= link_to "Contact", contact_path, method: :get%>
        </li>
        <li>
          <a href="#">Language</a>
        </li>

      </ul>

      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>

    </div>


</nav>

 -->
<!-- method: :get is for loading the parallax images after clicking on the links
 -->
