<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
          <%# <%= image_tag("OlioRadinoLogo.jpg", height: '40', width: '35') %> 


  <%= link_to "Olio Radino", root_path, method: :get %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <%= link_to t('_header.home'), root_path, method: :get %> 
       <%#= link_to 'Home', root_path, method: :get %>
      </li>
      <li class="nav-item">
         <%= link_to t("_header.about"), about_path, method: :get%> 
          <%#= link_to 'About', about_path, method: :get %>
      </li>
      <li class="nav-item">
         <%= link_to t("_header.products"), products_path, method: :get%> 
          <%#= link_to 'Products', products_path, method: :get %>
        </li>
      <li class="nav-item">
        <%= link_to t("_header.contact"), contact_path, method: :get%> 
       <%#= link_to 'Contact', contact_path, method: :get %>
      </li>
      <li class="nav-item">
        <%= link_to t("_header.gallery"), gallery_path, method: :get%> 
        <%#= link_to 'Gallery', gallery_path, method: :get %>
      </li>
    </ul>
    
          <%#= link_to image_tag("it.png", height: '20', width: '20', data:{locale: 'it'}), "#" , class:'locale_switch'%>
      
          <%#= link_to image_tag("uk.png", height: '20', width: '20', data:{locale: 'en-US'}), "#", class:'locale_switch'%>
          
          <%#= link_to image_tag("de.png", height: '20', width: '20', data:{locale: 'de'}), "#", class:'locale_switch'%>

          <%= link_to image_tag('uk.png', height: '20', width: '20'), locale: :en %>
          <%= link_to image_tag('de.png', height: '20', width: '20'), locale: :de %>
     


    </div>

</nav>
